<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Python beginner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <img src="https://static2.clutch.co/s3fs-public/logos/sayhello_agency_logo.png?VersionId=RuoK0YLtdKrTlozMA0JB4X0tPm3wfF1t">
    <br>
    <form action="greet" method="post">
        {% for message in get_flashed_messages() %}
             <p>{{ message }}</p>
         {% endfor %}
        <br>
        <input type="text" name="name_input">
        <br>
        <input type="submit" value="GREET" id="greet">
    </form>
</body>
</html>